header{
    display: flex;
    .notice{
        text-align: center;
        background-color: #195962;
    }
    .mast-head{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
        @media screen and (max-width: 991px) {
            justify-content: center;
          }
        h1{
        text-align: left;
        margin-right: 5px;
        }
    }
    
}