form{

}
input{
    position: relative;
}
 .auto-complete-container{
     z-index: 99;
    //  border:  1px solid #195962;
     position: absolute;
     background-color: #191C21;
     width: 100%;
     min-width: 200px;
     max-width: 300px;
     color: white;
     margin-top: 2px;
     div{
         background-color: #252932;
         margin-top: 1px;
         padding-left: 15px;
         height: 30px;
         display: flex;
         align-items: center;
         &:hover{
             cursor: pointer;
         }
     }
 }