.search{
  .button-set {
    @media screen and (max-width: 452px) {
      margin-top: 15px !important;
    }
  }
  @media screen and (max-width: 452px) {
    width: 77vw;
    margin-left: 2rem;
  }
  input{
    @media screen and (max-width: 452px) {
        margin-top: 5px !important;
        width: 100%;
      }
  }

}
.swal2-styled {
padding: 5px 0;

}