input {
    width: 150px;
    background: #282828;
    color: #ebeff3;
    border: 1px solid #7e7e7e;
    padding: 5px;
    border-radius: 2px;
    margin-top: 15px;
  }

  input:hover {
    border: 1px solid #c2c2c2;
  }

  input:focus {
    border: 1px solid #69acf8;
  }

  button {
    border: 0;
    background: #ff7d00;
    border-radius: 2px;
    width: 80px;
    height: 27px;
    box-shadow: 0px 1px 1px #000000;

    i {
      color: #ebeff3;
    }
  }