@import url("https://fonts.googleapis.com/css?family=Play");

body {

    background-color: #191C21;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23191c21' fill-opacity='0.06' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    font-family: "Play", sans-serif;
    overflow-x: hidden;
}
#root{
  position: relative;
  height: 100vh;
  width: 100vw;
}
h1,
h2,
h3,
h4 {
    user-select: none;
    @media screen and (max-width: 452px) {
      font-size: 1.2rem;
      text-align: center;
    }
}
.container{
  @media screen and (max-width: 452px) {
  margin-left: 1rem;
  width: 97vw;
  }
}
span {
    font-size: .8rem;
}

button {
    border: 0;
    background: #195962;
    width: 80px;
    padding: 5px;
    max-height: 30px;
   
}

button:focus {
    outline: none;
    box-shadow: none;
}

input {
    width: 150px;
    background: #252932;
    color: #ebeff3;
    border:  1px solid #252932;
    padding: 5px;
    margin: 0 5px 0 0
  }

  input:hover {
    border: 1px solid #181818;
  }

  input:focus {
    outline: none;
    box-shadow: none;
  }


::-webkit-scrollbar {
    width: 10px;
  }
  

  ::-webkit-scrollbar-track {
    background: #252932;; 
  }
   

  ::-webkit-scrollbar-thumb {
    background: #191C21;
  }
  

  ::-webkit-scrollbar-thumb:hover {
    background: #191C21; 
  }